* {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


ul {
	list-style: none;
	padding: 0;
	margin-top: 20px;
}

li {
	padding: 5px;
	background-color: white;
	border-radius: 5px;
	margin-bottom: 5px;
}

body {
	background-image: linear-gradient(#e5eaa4, #69a5a4);
	background-repeat: no-repeat;
	width: auto;
	height: 98.2vh;

}

li:hover {
	background-color: white;
}

.form-control {
	margin: 15px 0px;
	font-size: 18px;
	background-color: white;
	border-radius: 20px;
	border: none;
	box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.15);
	color: #616161;
	padding: 5px 10px;

}

.form-control:hover {
	margin: 15px 0px;
	font-size: 18px;
	background-color: white;
	border-radius: 20px;
	border: none;
	box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.07);
	color: #616161;
	padding: 5px 10px;


}

.cabecario {
	text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.07);
	display: inline-block;
	text-align: center;
	color: white;
	font-size: 24px;
}

.buscarTxt {
	color: white;
}

.Fila {
	color: white;
}

.botao {
	color: white;
	font-weight: bold;
	font-size: 14px;
	border-radius: 8px;
	padding: 8px;
	border: none;
	background-color: #ffffff4d;
	box-shadow: 3px 3px 10px rgba(182, 182, 182, 0.15);
}

.botao:hover {
	color: white;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	border-radius: 8px;
	padding: 8px;
	background-color: #ffffff95;
	box-shadow: 3px rgb(145, 145, 145)0px rgba(182, 182, 182, 0.15);
}

.container {
	text-align: center;
}

.label {
	color: white;
	font-size: 22px;
	position: right;
}

.labelFooter{
	font-size: 12px;
	color: white;
}